.verification-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .verification-form {
    margin-top: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container input[type="text"] {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px; /* Increase padding to make the button wider */
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .success-message {
    color: #28a745;
  }
  
  .error-message {
    color: #dc3545;
  }
  